.form__btn {
    align-self: self-end;
    border-style: none;
    padding: 1em 1.7em;
    border-radius: 7px;
    font-weight: 500;
    cursor: pointer;
}

.form__btn--next {
    background: var(--marine-blue);
    color: var(--white);
}

.form__btn--back {
    background: var(--white);
    color: var(--cool-gray);
}