/* FORM */

.container__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5em 5em 2.5em 5.5em;
    width: 100%;
    /* font-size: 3rem; */
}

.form__main{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin-top: 2em;
}

.form__title{
    color: var(--marine-blue);
    font-size: 1.9rem;
    margin-bottom: .3em;
}

.form__description{
    color: var(--cool-gray);
    font-weight: 400;
    font-size: .95rem;    
}

.form__footer{
    display: flex;
    justify-content: space-between;   
}




