/* FORM INPUT */

.form__item {
    border: transparent;
}

.form__label {
    display: inline;
    /* font-size: 1rem; */
    font-weight: 500;
    color: var(--marine-blue);
    letter-spacing: 0px;
    margin-bottom: 10em;
    cursor: pointer;
}

.form__input {
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    width: 100%;
    padding: 0.9375rem 1rem;
    color: var(--marine-blue);
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
}

.form__input::placeholder {
    font-weight: 500;
    font-size: .9rem;
    color: var(--cool-gray);
}

.form__input:focus,
.form__input:hover {
    outline: 1px solid var(--cool-gray);
}


/* ERRORS */

.form__error {
    color: var(--strawberry-red);
    font-size: .9rem;
    font-weight: 600;
    display: none;
}

.form__input:invalid[focused="true"] {
    border-color: var(--strawberry-red);
    outline: none;
}

.form__input:invalid[focused="true"]~.form__error {
    margin-top: 5px;
    display: block;
}