.main__thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    gap: 1em;
}

.thank-you__icon {
    width: 20%;
    max-width: 95px;
}

.main__thank-you h1 {
    font-size: 2rem;
    color: var(--marine-blue);
}

.main__thank-you p {
    line-height: 1.4em;
    text-align: center;
    color: var(--cool-gray);
    font-size: 1.070rem;
}

@media (max-width:850px) {
    .main__thank-you {
        margin-top: 0;
        justify-content: flex-start;
        height: 19em;
    }

    .thank-you__icon {
        max-width: 95px;
        min-width: 63px;
    }

    .main__thank-you p {
        font-size: 1.1rem;
        max-width: 26em;
    }

}